#user-tag{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1vh;
    top: 3vh;
    right: 10%;
    font-size: 3vh;
    & img{
        height: 3vh;
        width: 3vh;
    }
}
#name_server{
    position: fixed;
    bottom: 3vh;
    left: 3vh;
    font-size: 3vh;
    user-select: none;
}